.message{
    display: flex;
    position: absolute;
    align-items: center;
    top: 10%;
    left: 46%;
    background-color: var(--background-components);
    border-radius: 4px;
    padding: 0.5em 1em;
}

.message svg{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}

.message.error{
    background-color: #ff2d55;
}

.message.success{
    background-color: #34c759;
}