@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--background-color: #0D0D0D;
	--background-secondary: #151515;
  	--background-components: #1f1f1f;
	--primary-color: #36AC68;
	--shadow-color: rgba(0, 0, 0, 0.2);
	--text-high: rgba(255, 255, 255, 0.87);
	--text-medium: rgba(255, 255, 255, 0.6);
	--text-low: rgba(255, 255, 255, 0.3);
	--font-size: 16px;
	--animation-speed: 1;

	font-family: 'Inter', sans-serif;
	font-weight: 400;
  	font-size: var(--font-size);
	background-color: var(--background-color);
  	color: var(--text-high);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

.main{
	display: flex;
	margin-left: 180px;
	height: 100%;
	padding-right: 1em;
}

a{
	text-decoration: none;
	color: inherit; 
}

button{
	outline: none;
	border: none;
}